meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png")
link(rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png")
link(rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png")
link(rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png")
link(rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png")
meta(name="msapplication-TileColor" content="#2d89ef")
meta(name="msapplication-TileImage" content="/mstile-144x144.png")
meta(name="theme-color" content="#ffffff")
| !{ autoCanonical(config, page) }
