doctype
html(lang=config.language)
    head
        include head
        include styles
    body
        .wrap
            header
                //- a.logo-link(href=url_for())
                //-     img(src=theme.logo)
                include nav
            section.container
                block container
            footer
                block pagination
                block copyright
        include scripts
