ul.nav.nav-list
	each value, key in theme.menu
		li.nav-list-item
			- var clsLink = key.toLowerCase().replace(/ /g, '-');
			- var clsActive = `${value}index.html` === `/${path}` ? 'active' : '';
			a.nav-list-link(class="#{clsLink} #{clsActive}" href=value)
				!= key.toUpperCase()
