link(rel="stylesheet", href=url_for("css/apollo.css"))
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow.min.css")
style(type="text/css").
    code.hljs {
        font-size: 100%;
        background-color: #f8f8f8;
        padding: 0;
    }
    .paginator {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }
    .comments-holder {
        text-decoration: underline;
        text-align: center;
        display: block;
    }

if theme.googlefonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" type='text/css')
else 
    link(rel="stylesheet", href="http://fonts.useso.com/css?family=Source+Sans+Pro:400,600" type='text/css')