header {
    min-height: 60px;

    .logo-link {
        float: left;
    }
    
    .nav {
        // float: right;
        // left: 80px;
    }

    .logo-link img {
        height: 60px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px 10px;
        position: relative;
        a {
            font-size: 16px;
            line-height: 1.4;
            border-bottom: 2px solid lightgray;

            &.active + .icon, &:hover + .icon{
                color: #42b983;
            }
        }
        .icon{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            color: lightgray;
            opacity: 0.5;
        }
    }
}
