@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?pdn20j');
    src:    url('/fonts/icomoon.eot?pdn20j#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?pdn20j') format('truetype'),
        url('/fonts/icomoon.woff?pdn20j') format('woff'),
        url('/fonts/icomoon.svg?pdn20j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-blog:before {
    content: "\e908";
}
.icon-archive:before {
    content: "\e920";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-github:before {
    content: "\eab0";
}
.icon-codepen:before {
    content: "\eae8";
}

